---
import { MainHeader } from "../components/header.tsx";
import { headingVariant } from "../components/heading.tsx";
import { Container } from "../components/layouts/container.tsx";
import { NavMenu } from "../components/nav-menu.tsx";
import { ResponsiveImage } from "../components/responsive-image";
import Layout from "../layouts/Layout.astro";
import { getAboutContent } from "../libs/fetchers";
import { cn } from "../libs/utils";

const data = await getAboutContent();
const coverImage = data.heroImages[0];
---

<Layout title="About: Demi Samande">
  <MainHeader position="sticky" client:load variant="transparent">
    <NavMenu client:only="react" />
  </MainHeader>

  <section
    class="bg-base_2-900 pt-32 relative text-[--foreground-alt] min-h-[80svh] md:min-h-[60svh]"
  >
    <ResponsiveImage client:load image={coverImage.entry} />
  </section>

  <section class="bg-dm-background min-h-[100svh]">
    <Container className="py-24 flex flex-col gap-12 md:gap-24 items-center">
      <h1 class={cn(headingVariant({ size: "h1" }), "text-black text-center")}>
        {data.pageHeading ?? "About"}
      </h1>

      <div class="grid md:gap-6 grid-cols-1 w-full items-start md:grid-cols-12">
        <div class="hidden md:block blank"></div>
        <div
          class="md:sticky flex gap-6 flex-col top-4 mb-24 md:col-span-4 flex justify-center"
        >
          <h2
            class={cn(
              headingVariant({
                size: "h2",
                className: "!font-medium !font-body",
              }),
              "text-[24px] text-center text-balance leading-[2.2ex] text-black md:text-[32px]",
            )}
          >
            {data.title}
          </h2>

          <figure class="bg-base_2-500 shadow-xl w-full flex-1">
            <ResponsiveImage
              client:load
              className="object-center"
              containerClassName="relative block w-full aspect-[408/469] md:aspect-[434/649]"
              image={data.photo}
            />
          </figure>
        </div>
        <div class="hidden md:block blank"></div>
        <article
          class="md:col-span-5 flex items-start max-w-[60ch] gap-4 flex-col"
        >
          <div
            class="prose text-[18px] text-neutral-700"
            set:html={data.content ?? "<p>No Content</p>"}
          />
        </article>
        <div class="hidden md:block blank"></div>
      </div>
    </Container>
  </section>
</Layout>

<style is:global>
  .prose {
    @apply flex flex-col;
  }

  .prose > p + p {
    @apply text-neutral-700;
    margin-top: 2ex;
  }
</style>
