---
import {
  BannerCountdown,
  Countdown,
  CountdownBanner,
} from "../components/countdown-banner.tsx";
import { BookDescription } from "../components/description-section.tsx";
import { MainHeader } from "../components/header.tsx";
import { Hero } from "../components/hero.tsx";
import { PlaceOrder } from "../components/place-order.tsx";
import Layout from "../layouts/Layout.astro";
import { PreorderEndDate } from "../libs/constants";

return Astro.redirect("/books");
---

<Layout title="Demi Samande: In Her Hands Book">
  <main class="font-body">
    <MainHeader position="relative" variant="default" client:load />
    <CountdownBanner className="sticky top-0">
      <div
        class={"text-base md:text-[1.4rem]"}
        style="--counter-height: 24px;  --counter-duration: 300ms"
      >
        <BannerCountdown client:only="react" />
      </div>
    </CountdownBanner>

    <Hero />
    <BookDescription />
    <section class="bg-base-100 pt-12 md:pt-64">
      <PlaceOrder />
      <div
        class="flex pt-32 pb-16 flex-col items-center gap-4 text-[16svw]"
        style="--counter-height: 16svw; --counter-duration: 800ms;"
      >
        <h1 class="text-base tracking-[3px] font-body">PRE-ORDER ENDS IN</h1>
        <Countdown to={PreorderEndDate} client:only="react" />
      </div>
    </section>
  </main>
</Layout>
